.mat-button {
    background-color: rgb(0, 162, 255);
    color: #fff;
  }
  
  .mat-button:disabled,
  .mat-button[disabled] {
    background-color: rgb(0, 123, 194) !important;
    color: #ddd !important;
  }
  
  .mat-button {
    background-color: color-primary;
    color: #fff;
  }
  
  .mat-raised-button {
    background-color: #d9534f;
    color: #fff;
  }
  
  .mat-form-field {
    display: contents;
  }
  
  .row-par {
    background-color: #f7f9fc;
  }
  
  .row-hover {
    background-color: #edf1f7;
  }
  
  .mat-cell,
  .mat-footer-cell {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
  
  .mat-header-cell {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #000000;
  }
  
  table tr td {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #222b45;
  }
  
  .mat-button[_ngcontent-ioa-c23] {
    background-color: #00a2ff;
    color: #fff
  }
  
  .mat-button[_ngcontent-ioa-c23]:disabled,
  .mat-button[disabled][_ngcontent-ioa-c23] {
    background-color: #007bc2 !important;
    color: #ddd !important
  }
  
  fieldset {
    margin: 1%;
  }