<h3>{{ "notas.captura_notas_parciales" | translate }}</h3>
<mat-card-content>
  <div id="HtmlPdf" #HtmlPdf>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ "notas.registro_notas_parciales" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="responsive-form margin-y">
          <div class="form-item one-third-width" style="overflow: hidden">
            <label class="">{{ "notas.docente" | translate }}: </label>
            <label class="underline">{{ dataDocente.Docente }}</label>
          </div>
          <div class="form-item one-third-width" style="overflow: hidden">
            <label>{{ "notas.identificacion" | translate }}: </label>
            <label class="underline">{{ dataDocente.Identificacion }}</label>
          </div>
          <div class="form-item one-third-width" style="overflow: hidden">
            <label>{{ "notas.codigo" | translate }}: </label>
            <label class="underline">{{ dataDocente.Codigo }}</label>
          </div>

          <div class="form-item one-third-width" style="overflow: hidden">
            <label>{{ "notas.asignatura" | translate }}: </label>
            <label class="underline">{{ dataDocente.Asignatura }}</label>
          </div>

          <div class="form-item one-third-width" style="overflow: hidden">
            <label>{{ "notas.nivel" | translate }}: </label>
            <label class="underline">{{ dataDocente.Nivel }}</label>
          </div>
          <div class="form-item one-third-width" style="overflow: hidden">
            <label>{{ "notas.grupo" | translate }}: </label>
            <label class="underline">{{ dataDocente.Grupo }}</label>
          </div>

          <div class="form-item one-third-width" style="overflow: hidden">
            <label>{{ "notas.inscritos" | translate }}: </label>
            <label class="underline">{{ dataDocente.Inscritos }}</label>
          </div>
          <div class="form-item one-third-width" style="overflow: hidden">
            <label>{{ "notas.creditos" | translate }}: </label>
            <label class="underline">{{ dataDocente.Creditos }}</label>
          </div>
          <div class="form-item one-third-width" style="overflow: hidden">
            <label>{{ "notas.periodo" | translate }}: </label>
            <label class="underline">{{ dataDocente.Periodo }}</label>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- <mat-card *ngIf="cajaPorcentajesVer"> -->
      <mat-card >
      <mat-card-header>
        <mat-card-title>
          {{ "notas.captura_porcentajes" | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
        <div class="message-alert">
          {{ "notas.info_guardado_necesario" | translate }}
        </div>
        <button mat-flat-button color="warn" (click)="info()">VER INFO DEBUG</button>
        
        <app-tabla-porcentajes [(modeloPorcentajes)]="modeloPorcentajes" style="max-width: 1200px;"></app-tabla-porcentajes>
        
        <div class="container-notes">
          <div class="row">
            <div class="container-form-wrap">
              <div class="row">
                <note-percentage
                  (formObservable)="editCorte1($event)"
                  [settings]="Corte1"
                >
                </note-percentage>
                <note-percentage
                  (formObservable)="editCorte2($event)"
                  [settings]="Corte2"
                >
                </note-percentage>
                <note-percentage
                  (formObservable)="editExamen($event)"
                  [settings]="Examen"
                >
                </note-percentage>
              </div>
            </div>
            <div class="container-form-wrap">
              <div class="row">
                <note-percentage
                  (formObservable)="editHabilit($event)"
                  [settings]="Habilit"
                >
                </note-percentage>
              </div>
            </div>
            <div class="container-form-wrap">
              <div class="row">
                <div class="container-form">
                  <strong> Total </strong>
                  <div class="container-percentage">
                    <mat-form-field>
                      <mat-label>Total %</mat-label>
                      <input
                        matInput
                        readonly
                        type="number"
                        value="{{ totalPercentage }}"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions style="display: inline-block">
        <div class="container-bottons">
          <button
            [disabled]="!GuardarEstructuraNota || errorgen || finalizado"
            mat-flat-button
            color="accent"
            class="boton-primary"
            (click)="save_P()"
          >
            {{ "notas.guardar" | translate }}
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <br />
    <fieldset [ngClass]="{ fieldseter: true }" style="overflow: auto">
      <legend>{{ "notas.captura_notas" | translate }}</legend>

      <div style="overflow: auto">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container
            *ngFor="let columna of displayedColumns"
            [matColumnDef]="columna"
          >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ nombresColumnas[columna] | translate }}
            </th>
            <td
              mat-cell
              *matCellDef="let fila; let i = index"
              [ngClass]="{
                'row-par': i % 2 === 0,
                'row-impar': i % 2 !== 0,
                'row-hover': hoverIndex === i
              }"
              (mouseover)="hoverIndex = i"
              (mouseout)="hoverIndex = null"
            >
              <ng-container *ngIf="!actionColumns?.includes(columna)">
                {{ fila[columna] }}
              </ng-container>
              <ng-container *ngIf="actionColumns?.includes(columna)">
                <render-data [value]="fila[columna]"> </render-data>
              </ng-container>
            </td>
          </ng-container>

          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell center"
              [attr.colspan]="displayedColumns.length"
            >
              {{ "asignaturas.no_datos_notas" | translate }}
            </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let fila; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSize]="5"
          [pageSizeOptions]="[]"
          showFirstLastButtons
        ></mat-paginator>
      </div>

      <br /><br />

      <div class="row d-flex align-items-center" style="padding: 20px">
        <div class="col-md-3" align="center">
          <button
            mat-flat-button
            color="primary"
            class="boton-primary"
            (click)="regresar()"
          >
            {{ "notas.regresar" | translate }}
          </button>
        </div>
        <div class="col-md-3" align="center">
          <button
            mat-flat-button
            color="primary"
            class="boton-primary"
            (click)="save_N()"
            [disabled]="errorgen || finalizado"
          >
            {{ "notas.guardar" | translate }}
          </button>
        </div>
        <div class="col-md-3" align="center">
          <button
            mat-flat-button
            color="primary"
            class="boton-primary"
            (click)="cancel_N()"
            [disabled]="errorgen || finalizado"
          >
            {{ "notas.cancelar" | translate }}
          </button>
        </div>
        <div class="col-md-3" align="center">
          <button
            mat-flat-button
            color="primary"
            class="boton-primary"
            (click)="terminar()"
            [disabled]="errorgen || !definitiva"
          >
            {{ "notas.finalizar" | translate }}
          </button>
        </div>
      </div>
    </fieldset>
  </div>
</mat-card-content>

<mat-card style="margin-top: 5%">
  <fieldset [ngClass]="{ fieldseter: true }">
    <legend>{{ "notas.reporte_captura_porcentajes" | translate }}</legend>
    <div class="row d-flex align-items-center" style="padding: 20px">
      <div class="col-md-3" align="center"></div>
      <div class="col-md-3" align="center">
        <button
          mat-flat-button
          color="primary"
          class="boton-primary"
          (click)="exportar()"
          [disabled]="errorgen"
        >
          {{ "notas.export_Pdf" | translate }}
        </button>
      </div>
      <div class="col-md-3" align="center">
        <button
          mat-flat-button
          color="primary"
          class="boton-primary"
          (click)="imprimir()"
          [disabled]="errorgen"
        >
          {{ "notas.print_pdf" | translate }}
        </button>
      </div>
      <div class="col-md-3" align="center"></div>
    </div>
  </fieldset>
</mat-card>
