<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "notas.captura_notas" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="margin-y">
    <div class="responsive-form">
      <div class="form-item one-third-width">
        <mat-form-field class="form-field">
          <mat-label>{{ "notas.periodo" | translate }}</mat-label>
          <mat-select
            #periodo
            placeholder="{{ 'notas.placeholder_periodo' | translate }}"
            (selectionChange)="filterPeriodo(periodo.value)"
          >
            <mat-option value="invalid" disabled>{{
              "notas.hint_periodo" | translate
            }}</mat-option>
            <mat-option *ngFor="let periodo of periodos" [value]="periodo.Id">{{
              periodo.Nombre
            }}</mat-option>
          </mat-select>
          <mat-hint align="start">{{
            "notas.hint_periodo" | translate
          }}</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{
          "notas.listado_docentes" | translate
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="table">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container
              *ngFor="let columna of displayedColumns"
              [matColumnDef]="columna"
            >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ nombresColumnas[columna] | translate }}
              </th>
              <td
                mat-cell
                *matCellDef="let fila; let i = index"
                [ngClass]="{
                  'row-par': i % 2 === 0,
                  'row-impar': i % 2 !== 0,
                  'row-hover': hoverIndex === i
                }"
                (mouseover)="hoverIndex = i"
                (mouseout)="hoverIndex = null"
              >
                <ng-container>
                  {{ fila[columna] }}
                </ng-container>
              </td>
            </ng-container>

            <tr class="mat-row" *matNoDataRow>
              <td
                class="mat-cell center"
                [attr.colspan]="displayedColumns.length"
              >
                {{ "notas.no_datos_captura_notas" | translate }}
              </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let fila; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSize]="5"
            [pageSizeOptions]="[]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
